[dev-packages]
fabric = "<2"

[packages]
boto3 = "*"
simplejson = "*"
openpyxl = "*"
psycopg2-binary = "*"
Flask = "*"
# SQLAlchemy 1.4.x introduced a regression with flask-sqlalchemy
# https://github.com/pallets/flask-sqlalchemy/issues/971
# Keep pinned at 1.3.21
SQLAlchemy = "*"
flask-cors = "*"
flask-caching = "*"
redis = "*"
gunicorn = "*"
celery = "*"
pandas = "*"
# Different GDAL (C) versions on Dokku and local dev
# mean unfortunate monkeying around with this.
# For now needs to be 3.6.2 for Dokku
# (as installed by apt-get install gdal-bin on a python:3.11 container)
gdal = "==3.6.2"
# but 3.0.4 for Joe
#gdal = "==3.0.4"
flask-sqlalchemy = "*"
requests = "*"
newrelic = "==9.6.0"

[requires]
python_version = "3.11"
