Fabric==1.6.1
Flask==0.10.1
Flask-SQLAlchemy==2.0
GDAL==1.10.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==1.0.5
Werkzeug==0.10.4
boto==2.27.0
ecdsa==0.13
itsdangerous==0.24
mockcache==1.0.1
newrelic==2.16.0.12
paramiko==1.15.2
psycopg2==2.5.2
pycrypto==2.6.1
pyes==0.99.2
pylibmc==1.2.3
simplejson==3.3.1
six==1.9.0
urllib3==1.10.4
wsgiref==0.1.2
